//  添加uview框架主题css
@import '@/common/css/uni.scss';
@import '@/uni_modules/vk-uview-ui/theme.scss';
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
